*{
	margin:0px;
	padding:0px;
}
@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?25529653');
  src: url('../font/fontello.eot?25529653#iefix') format('embedded-opentype'),
	   url('../font/fontello.woff?25529653') format('woff'),
	   url('../font/fontello.ttf?25529653') format('truetype'),
	   url('../font/fontello.svg?25529653#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

.gcz-slider{
	position:relative;
}

.gcz-theme .owl-nav {
  left: 0;
  position: absolute;
  right: 0;
  top: 45%;
}
.gcz-theme .owl-nav .owl-prev{
	left: 5px;
	
}
.gcz-theme .owl-nav .owl-next{
	right: 5px;
}
.gcz-theme .owl-nav div{
  bottom: 0;
  display: inline-block;
  margin: 0;
  position: absolute;
  text-align: center;
  text-transform: capitalize;
  top: 0;
}

.gcz-theme .owl-nav [class*='owl-']  i.icon-left-open-big, .gcz-theme .owl-nav [class*='owl-']  i.icon-right-open-big{
	background: #d6d6d6 none repeat scroll 0 0;
	border-radius: 90%;
	-moz-border-radius: 90%;
	-webkit-border-radius: 90%;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 30px;
	height: 44px;
	line-height: 45px;
	margin: 5px;
	padding: 10px;
	text-align: center;
	width: 45px;
	opacity: 0 !important;
}
.gcz-theme .owl-nav [class*='owl-'] i.icon-left-open-big:hover, .gcz-theme .owl-nav [class*='owl-'] i.icon-right-open-big:hover  {
	background: #869791;
	color: #FFF;
	text-decoration: none; 
	
}
.gcz-theme .owl-nav .disabled {
	opacity: 0.5;
	cursor: default; 
}
.gcz-theme:hover .owl-nav [class*='owl-']  i.icon-left-open-big, .gcz-theme:hover .owl-nav [class*='owl-']  i.icon-right-open-big{
	opacity: 1 !important;
	 transition: background-color 250ms linear 0s, color 250ms linear 0s, opacity 250ms linear 0s;
}


.gcz-theme .owl-nav.disabled + .owl-dots {
	margin-top: 10px; 
}

.gcz-theme .owl-dots {
  bottom: 10px;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
}
.gcz-theme .owl-dots .owl-dot {
	background: rgba(68, 252, 4, 0.5);
	margin: 5px 8px;
	display: inline-block;
	overflow:hidden;
	zoom: 1;
	*display: inline; 
}
.gcz-theme .owl-dots .owl-dot span {
	
	display: block;
	height: 3px;
	
	width: 60px;
}

.gcz-theme .owl-dot.active span{
	position:relative;
    -webkit-animation: myfirst 5s infinite; /* Safari 4.0 - 8.0 */
    -webkit-animation-direction: alternate; /* Safari 4.0 - 8.0 */
    animation: myfirst 5s infinite;
    animation-direction: alternate;

}


/* Safari 4.0 - 8.0 */
@-webkit-keyframes myfirst {
    0%   {background: rgba(68, 252, 4, 0.8); left: 0px;}
    100% {background: rgba(68, 252, 4, 0.8); left: 60px;}
}

@keyframes myfirst {
    0%   {background: rgba(68, 252, 4, 0.8); left: 0px;}
    100% {background: rgba(68, 252, 4, 0.8); left: 60px;}
}


@media only screen and (max-width: 768px) {
	.gcz-theme .owl-nav {
	  top: 40%;
	}
	.gcz-theme .owl-nav [class*="owl-"] i.icon-left-open-big, .gcz-theme .owl-nav [class*="owl-"] i.icon-right-open-big {
	  font-size: 20px;
	  height: 30px;
	  line-height: 33px;
	  margin: 5px;
	  padding: 10px;
	  width: 30px;
	}
}
@media only screen and (max-width: 480px) {
	.gcz-theme .owl-nav {
	  top: 35%;
	}
	.gcz-theme .owl-nav [class*="owl-"] i.icon-left-open-big, .gcz-theme .owl-nav [class*="owl-"] i.icon-right-open-big {
	  font-size: 16px;
	  height: 20px;
	  line-height: 22px;
	  margin: 5px;
	  padding: 10px;
	  width: 20px;
	}
}